.main-screen {
	height: 600px;
	width: 100%;
	margin-top: 0;
	padding: 80px;
	color: white;
	text-align: justify;
}

.button-primary {
	background-color: white;
	color: black;
	padding: 10px;
}

.banner-folders {
	margin: 80px;
	display:  flex;
	justify-content: space-around;
}

.folder {
	color: black;
	margin: 40px;
	text-align: center;
	background-color: white;
	padding: 80px;
}

.folder-img {
	height: 200px;
	width: 200px;
}

.banner-posts {
	background-color: white;
	min-height: 400px;
	min-width: 600px;
	margin: 30px;
	padding: 80px;

}

.post {
	text-align: justify;
}

.post-link {
	color: black;
}

.post img{
	height: 200px;
	width: 200px;
}

@media screen and (max-width: 900px) {
	.banner-folders {
		flex-direction: column;
	}

	.folder {
		margin: 5px;
		padding: 10px;
	}

	.folder-img {
		height: 50px;
		width: 50px;
	}

 
}

